<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerApiSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerApiSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomerApiSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://api.discountasp.net/1.0/customerapi.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerApiSoap"
                contract="DiscountAspServiceClient.CustomerApiSoap" name="CustomerApiSoap" />
            <endpoint address="https://api.discountasp.net/1.0/customerapi.asmx"
                binding="customBinding" bindingConfiguration="CustomerApiSoap12"
                contract="DiscountAspServiceClient.CustomerApiSoap" name="CustomerApiSoap12" />
        </client>
    </system.serviceModel>
</configuration>